@model IEnumerable<ModelImplementation.ModelDb.ORDERPRODUCT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QUANTITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORDE.ORDERNUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QUANTITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORDE.ORDERNUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-danger" }) |
        </td>
    </tr>
}

</table>
